{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded shadow">

  <h2 class="text-xl font-bold mb-4 text-center">Add Habit</h2>

  <form method="POST">
    {% csrf_token %}

  <input 
  type="text" 
  name="name" 
  placeholder="Enter habit"
  class="bg-[#0f172a] text-white placeholder-gray-400 border border-slate-700 p-2 w-full mb-4 rounded focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
>

    <button class="bg-blue-500 text-white w-full py-2 rounded">
      Add Habit
    </button>
  </form>

</div>

{% endblock %}